@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Grechen+Fuemen&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** font-style logo **/

.grechen-fuemen-regular {
  font-family: 'Grechen Fuemen', cursive;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/** font-style title **/

.crete-round-regular {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: normal;
}

.crete-round-regular-italic {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
}

/** font-style regular text **/

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.krub-light-italic {
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  font-style: italic;
  background-color: rgba(114, 134, 40, 0.89);
}

.krub-regular-italic {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-style: italic;
  /*  color:rgb(243, 243, 243); */
}

.krub-medium-italic {
  font-family: 'Krub', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/** <-- code font-family style --> **/

body {
  background-color: #fff;
}
